__pycache__
dist
build
*.egg-info
test.py
embeddings.pkl
filenames.pkl
venv
products.pkl
categorical_recommendation_model.pkl
column_encoders.pkl
combined_features.pkl
*.csv
*.csv#
uploads
env
.env
category_r.py
static